@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../assets/fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Italic.woff2') format('woff2'),
        url('../assets/fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
